#nav-bar {
	position: absolute;
    left: 40%;
}
.nav-btn {
	padding-left: 5px;
	color: white;
	height: 40px;
	width:auto;
	background-image: url("./nav-btn.jpg");
}
.name-input {
	width: auto;
}

.reset {
	visibility: hidden;
}