<button id="<%= addButtonId %>" data-toggle="modal">
    <span class="glyphicon glyphicon-plus"></span>
    New loan
</button>
<button id="<%= deleteButtonId %>" data-toggle="modal">
    Delete loans
</button>
<div id="<%= containerId %>">

</div>