<button id="<%= addButtonId %>" data-toggle="modal">
    <span class="glyphicon glyphicon-plus"></span>
    New student
</button>
<button id="<%= deleteButtonId %>" data-toggle="modal">
    Delete students
</button>
<div id="<%= containerId %>">
</div>